#java specific
*.class

## generic files to ignore
*~
*.lock
*.DS_Store
*.swp
*.out
*.json
*.tsv
*.csv
*.jar

.classpath
.project
.settings/

target/
build/
.gradle/
out/

.idea/
*.iml

build/libs/jiajia-0.0.1-SNAPSHOT.jar
