#java specific
*.class

## generic files to ignore
*~
*.lock
*.DS_Store
*.swp
*.out
*.json
*.tsv
*.csv
*.jar
*.class

.classpath
.project
.settings/

target/
build/
.gradle/
out/
gradle/.tmp/
gradle/caches/
gradle/daemon/
gradle/jdks/
gradle/native/
gradle/wrapper/dists/

.idea/
*.iml

build/libs/jiajia-0.0.1-SNAPSHOT.jar
